<div class="relative h-screen">
  <div
    class="h-full bg-[hsl(240_10%_3.9%)] border-r border-[#333] shadow-[2px_0_8px_0_rgba(0,0,0,0.25)] transition-all duration-200 ease-out overflow-hidden flex flex-col"
    [class.w-[250px]]="!sideCollapsed()"
    [class.w-16]="sideCollapsed()">
    <div class="flex-1 relative menu-container overflow-y-auto">
      <!-- Root Level Menu Items -->
      @for (menu of menus(); track menu.id) {
        @if (menu.level === 1) {
          <ng-container *ngTemplateOutlet="menuItem; context: { $implicit: menu }" />
        }
      }
    </div>

    <!-- Collapse Toggle Button -->
    <div class="py-4 w-full">
      <div class="h-[50px] flex items-center transition-all duration-200 ease-out text-gray-400 hover:text-white cursor-pointer"
        [class.justify-center]="sideCollapsed()"
        [class.justify-end]="!sideCollapsed()"
        [class.pr-5]="!sideCollapsed()"
        (click)="handlerToggleSidebar($event)">
        <i-lucide [name]="sideCollapsed() ? chevronsRightIcon : chevronsLeftIcon"
          size="18" />
      </div>
    </div>
  </div>
</div>


<!-- Menu Item Template -->
<ng-template #menuItem let-menu>
  @let menuChildren = menu.children?.length;
  @let menuExpanded = menu.expanded;
  @let menuActive = menu.active;
  @let menuHidden = menu.hidden;
  @let menuLevel = menu.level;

  <app-popover
    [classOrigin]="'!w-full'"
    [classContent]="'min-h-[50px] w-[250px]'"
    [options]="popoverOptions()"
    (functionControl)="handlerFunctionControl(menu.id, $event)">
    <div popoverContent>
      <!-- First level of menu items in popover -->
      @if (menuChildren) {
    <div class="popover-menu-container relative">
      @for (child of menu.children; track child.id; let i = $index) {
        <div class="relative">
          <ng-container *ngTemplateOutlet="popoverRecursiveMenu; context: { $implicit: child, index: i }" />
        </div>
      }
    </div>
  } @else {
    <ng-container *ngTemplateOutlet="popoverRecursiveMenu; context: { $implicit: menu, index: 0 }" />
  }
  </div>

  <app-tooltip [config]="{
      content: menuName,
      position: 'right',
      showArrow: true,
      classContainer: 'text-[14px] !p-[8px]',
      classTrigger: 'w-full',
      offset: 5,
      disabled: !sideCollapsed()
     }"
    [class]="'w-full'">
    <div #menuItemRef
      class="menu-item rounded-md mt-2 mx-2 h-9 flex items-center text-gray-400 hover:text-white cursor-pointer overflow-hidden group relative"
      [class.bg-blue-600]="menuActive"
      [class.menu-item-active]="menuActive"
      [class.!text-white]="menuActive"
      [class.hidden]="menuHidden || sideCollapsed() && menuLevel! > 1"
      [attr.data-level]="menuLevel"
      (click)="handlerClickMenuItem($event, menu); handlerToggleMenuPopover($event, menu)">
      <!-- Menu Name TemplateRef -->
      <ng-template #menuName>
        <span
          class="whitespace-nowrap font-medium text-ellipsis overflow-hidden transition-[width] duration-150 group-hover:text-white"
          [class.w-0]="sideCollapsed()"
          [class.w-[168px]]="!sideCollapsed()">
          {{ menu.name }}
        </span>
      </ng-template>

      <!-- Icon -->
      <div class="w-12 flex items-center justify-center flex-shrink-0">
        <i-lucide [name]="menu.icon"
          class="group-hover:text-white"
          size="18" />
      </div>

      <!-- Menu Name -->
      @if (!this.sideCollapsed()) {
        <span
          class="whitespace-nowrap text-ellipsis text-sm font-medium overflow-hidden transition-[width] duration-150 group-hover:text-white pr-2"
          [class.w-0]="sideCollapsed()"
          [class.w-[168px]]="!sideCollapsed()">
          {{ menu.name }}
        </span>
      }

      <!-- Arrow Icon for Parent Menus -->
      @if (menuChildren && !sideCollapsed()) {
        <div class="ml-auto mr-2 flex items-center">
          <i-lucide [name]="chevronDownIcon"
            class="rotate-enter"
            [class.opacity-0]="sideCollapsed()"
            [class.rotate-clockwise]="menuExpanded"
            size="18" />
        </div>
      }
    </div>
  </app-tooltip>


  <!-- Submenu Container -->
  @if (menuChildren) {
    <div class="submenu-container ml-4 slide-fade-enter"
      [class.slide-down]="menuExpanded && !sideCollapsed()"
      [attr.data-level]="menuLevel">
      <div class="submenu-inner">
        @for (child of menu.children; track child.id) {
          <div class="ml-2">
            <ng-container *ngTemplateOutlet="menuItem; context: { $implicit: child }" />
          </div>
        }
      </div>
    </div>
  }
  </app-popover>
</ng-template>


<!-- Recursive Menu Template for Popover -->
<ng-template #popoverRecursiveMenu let-item let-idx="index">
  @let itemLevel = item.level;
  @let itemActive = item.active;
  @let itemChildren = item.children?.length;
  @let itemExpanded = item.expanded;

  <div
    #menuItemRefPopover
    class="mt-2 menu-item rounded-md h-9 flex items-center text-gray-400 hover:text-white cursor-pointer overflow-hidden group relative w-full hover:bg-[rgba(255,255,255,0.1)]"
    [attr.data-level]="itemLevel"
    [class.mt-2]="!(idx === 0 && itemLevel === 2)"
    [class.bg-blue-600]="itemActive"
    [class.menu-item-active]="itemActive"
    [class.!text-white]="itemActive"
    [class.hover:bg-blue-600]="itemActive"
    (click)="handlerToggleSubMenu($event, item)">
    <!-- Icon -->
    <div class="w-12 flex items-center justify-center flex-shrink-0">
      <i-lucide [name]="item.icon"
        class="group-hover:text-white"
        size="18" />
    </div>

    <!-- Menu Name -->
    <span
      class="whitespace-nowrap text-ellipsis text-sm font-medium overflow-hidden transition-[width] duration-150 group-hover:text-white pr-2">
      {{ item.name }}
  </span>

  <!-- Arrow Icon for Parent Menus -->
  @if (itemChildren) {
    <div class="ml-auto mr-2 flex items-center">
      <i-lucide [name]="chevronDownIcon"
        class="rotate-enter"
        [class.rotate-clockwise]="itemExpanded"
        size="18" />
    </div>
  }
  </div>

  <!-- Submenu Container -->
  @if (itemChildren) {
    <div class="submenu-container ml-4 relative overflow-hidden transition-all duration-200 ease-in-out origin-top"
      [style.max-height.px]="itemExpanded | calculatorMaxHeightSubMenu: item: keyFetchSubMenu()"
      [class.max-h-0]=" !itemExpanded">
      <div class="border-line-vertical absolute left-[1px] top-[5px] bottom-[2px] w-[1px] bg-gray-600"></div>
      <div class="submenu-inner">
        @for (child of item.children; track child.id; let i = $index) {
          <div class="ml-2 relative">
            <ng-container *ngTemplateOutlet="popoverRecursiveMenu; context: { $implicit: child, index: i }" />
          </div>
        }
      </div>
    </div>
  }
</ng-template>
